/*Import Font*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    font-family: "Bree Serif", serif;
    overflow-x: hidden;
}

/*Header Style */
.header-img {
    width: 100% !important;
    max-height: 500px;
    transform: scale(1.5, 2);
    object-fit: fill;
    position: relative;
    top: 20%;
    left: 20%;
}

/*Header Cigar Style */
.headercigar-img {
    width: 100%;
    max-height: 700px;
    opacity: 0.5;
}
/*Input Search Cigar*/
.input-search, .input-search:focus {
border: none;
outline: none;
}


/*Section II Img*/
.section2-img{
    width: 100% !important;
    max-height: 500px;
    transform: scale(1.5, 1.5);
    object-fit: fill;
    position: relative;
    top: 20%;
    left: 20%;
}

/*Card Main*/
.home-card {
    height: 380px;
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
}