/* COLOR PALETTE
:root{
    background-color: #ecf39e; 
    color: #90a955;
    color: #4f772d;
    color: #31572c;
} */
/*IMPORT FONT*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/*BODY FONT*/
body {
    font-family: "Bree Serif", serif;
    overflow-x: hidden;
}

/*wELCOME PAGE*/
/*HEADER WELCOME PAGE*/
.header-img {
    object-fit: cover;
    width: 100%;
    max-height: 700px;
}

/*SECTION II IMG WELCOME PAGE*/
.section2-img {
    object-fit: cover;
    width: 100%;
    max-height: 700px;
}

/*CARD WELCOME&SIGAR PAGE*/
.home-card {
    height: 400px;
    width: 300px;
    padding: 20px;
    border: 2px solid #8a8a8a1e;
    border-radius: 15px;
    transition: 0.5s;
    text-decoration: none;
    color: #555;
}

.home-card:hover {
    transform: scale(105%);
}

/*SIGAR PAGE*/
/*HEADER CIGAR*/
.headercigar-img {
    width: 100%;
    max-height: 700px;
    opacity: 0.6;
    object-fit: cover;

}

/*INPUT SEARCH CIGAR*/
.input-search,
.input-search:focus {
    border: none;
    outline: none;
}

/*? Ridimensionamento Search in pagina Sigari  */
@media screen and (min-width: 768px) {

    #div-search {
        width: 30% !important;
    }
}

/*? ADMIN AREA */
.tab-admin {
    display: block;
    margin-bottom: 20px;
    color: #595C5E;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
}

.tab-admin:hover {
    border-left: 5px solid rgb(45, 106, 228);
    background: linear-gradient(90deg, rgba(45, 106, 228), rgb(255, 255, 255));
    color: white;
}

/*ADMIN PAGE*/

/*NOTIFICA SUCCESSO*/
.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

/* Classe generica per il messaggio di notifica */
.custom-alert {
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    position: fixed;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out, top 0.5s ease-out;
}

/* Classe per il messaggio di successo */
.custom-alert-success {
    border-left: 6px solid #28a745; /* Verde per il successo */
    background-color: #f8f9fa;
    color: #495057;
}

.custom-alert-success .btn-close {
    background-color: transparent;
    border: none;
    color: #495057;
}

.custom-alert-success .fa-circle-check {
    color: #28a745;
}

/* Animazione di uscita del messaggio */
.custom-alert.notification {
    opacity: 0;
    top: -100px;
}

/* ACTIVE GESTIONE IMMAGINI DETTAGLIO SIGARI */
.active {
    background-color: rgba(0, 0, 0, 0) !important;
}

/*SWIPER*/
.swiper {
    width: 100%;
    height: 400px;
}
.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

